.sticky_menu {
    background-color: rgba(42, 42, 42, 0.866);
    width: 100%;
    height: 60px;
    padding-left: 3%;
    font-size: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    font-family: "Ubuntu Mono";
}

body{
    font-family: "Ubuntu Mono";
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

s tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.head {
    margin-top: 80px;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 60%;
    line-height: 30px;
}

.return {
    display: block;
    margin-top: 40px;
    color: black;
    text-align: center;
}

.return:hover {
    text-decoration: none;
    color: rgb(212, 212, 212);
    text-shadow: 1px 1px rgb(82, 82, 82);
}

.edit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}